
// COLORES
$background: black; // color para fondos
$hover: rgba(138, 138, 138, 0.842); //color para los hover
$letra-normal: rgba(240, 248, 255, 0.842); // color para la letra mas usada
$letra-fuerte: white; //color para letra que resalte
$llamativo: #fec400; //color de contraste para cosas importantes
$card: rgb(48, 48, 48); //color para que se vean las cards en fondo negro

// LETRAS
$font-1: 'Gentium Basic', serif;
$font-2: 'Montaga', serif;