
/* Inicio --- Media Querie de la seccion Newsletter en Home*/
@media only screen and (max-width: 1420px) {
    .newsletter{
        img{
            display: none;
        }
        form{
            height: 300px;
            width: auto;
        }
    }
}
@media only screen and (max-width: 590px) {
    .newsletter{
        height: auto;
        width: auto;
        text-align: center;
        img{
            display: none;
        }
        form{
            p{
                width: 75%;
            }
            .email{
                width: 300px;
            }
            .subscripcion{
                width: 75%;
            }
        }
    }
}

/* FIN --- Media Querie de la seccion Newsletter en Home*/



/* INICIO --- Media Querie de la seccion Bestseller*/
@media only screen and (max-width: 590px){
    .cont-bestsell{
        height: 2000px;
    }
}
/* FIN --- Media Querie de la seccion Bestseller*/


/* INICIO --- Media Querie de la seccion Iniciar sesion*/

@media only screen and (max-width: 450px) {
    .iniciar-sesion{
        
        form{
            width: 300px;
            height: 400px;
            .email{
                width: 75%;
            }
        }
    }
}