* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

header {
    font-family: $font-1;
	width: 100%;
	height: 100px;
	background-color: $background;
}
.menu{
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
    .logo {
        width: 140px;
        margin-left: 20px;
    }
    .navbar {
        font-size: 30px;
        color: $letra-normal;
        margin-right: 20px;
        cursor: pointer;
    }
}


.nav-menu {
	position: fixed;
	width: 100%;
	top: 100px;
	background: rgba(0, 0, 0, 0.95);
	text-align: center;
	transition: all 0.5s;
	li {
		display: none;
		line-height: 30px;
		margin: 50px 0;
		transition: all 0.5s;
		a {
			color: $letra-fuerte;
			font-size: 16px;
			text-transform: uppercase;
			font-weight: 600;
			text-decoration: none;
			&:hover {
				color: $hover;
				transition: 0.25s;
			}
		}
		a.active {
			color: $hover;
			transition: 0.25s;
		}
	}
}
#check {
	display: none;
	&:checked {
		~ {
			.nav-menu {
				position: absolute;
				z-index: 1;
				height: 100vh;
				li {
					display: block;
				}
			}
		}
	}
}

/* DESKTOP RESPONSIVE */
@media screen and (min-width: 760px) {
	.logo {
		margin-left: 50px;
	}
	nav {
		height: 100px;
	}
	.navbar {
		display: none;
	}
	.nav-menu {
		position: relative;
		height: 100px;
		top: 0;
		background: none;
		transition: none;
		text-align: right;
		margin-right: 50px;
		li {
			display: inline-block;
			line-height: 100px;
			margin: 0 20px;
			transition: none;
			a {
				font-size: 12px;
				margin-bottom: 30px;
			}
		}
	}
}