/* Inicio de estilos para la view Iniciar Sesion*/
.iniciar-sesion{
    form{
        width: 600px;
        height: 440px;
        background: black;
        margin: calc(50vh - 220px) auto;
        max-width: calc(100vw - 40px);
        box-sizing: border-box;
        font-family: $font-2;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        
        h1{
            color: $letra-fuerte;
            font-family: $font-2;
            text-align: center;
            margin-bottom: 10px;
        }
        p{
            color: $letra-fuerte;
            font-family: $font-2;
            text-align: center;
            margin-bottom: 10px;
        }
        input{
            width: 350px;
        }
        .email{
            height: 40px;
            padding: 10px;
            margin-bottom: 10px;
            box-sizing: border-box;
            background-color: $background;
            resize: none;
            font-family: $font-2;
            border: 1px solid $letra-normal;
        }
        .password{
            height: 40px;
            padding: 10px;
            margin-bottom: 10px;
            box-sizing: border-box;
            background-color: $background;
            resize: none;
            font-family: $font-2;
            border: 1px solid $letra-normal;
        }
        .iniciar-boton{
            height: 40px;
            padding: 10px;
            margin-bottom: 10px;
            box-sizing: border-box;
            background-color: $llamativo;
            resize: none;
            font-family: $font-1;
            text-transform: uppercase;
            border: 1px solid $background;
            &:hover{
                background-color: $background;
                color: $letra-fuerte;
                border: 1px solid $letra-fuerte;
            }
        }
        .link-registro{
            text-decoration: none; 
            color: $letra-fuerte;
            font-family: $font-2;
            text-align: center;
            &:hover{
                color: $hover;
            }
        }
    }
}

/* Fin de estilos para la view Iniciar Sesion*/