
/* Inicio del estilo de TIENDA */
.tienda{
    
    h1{
        color: $letra-normal;
        font-family: $font-2;
        text-align: center;
        margin-top: 15px;
    }
    .container-tienda{
        height: 85%;
        width: auto;
    }
}